div{
    width: 100px;
    height: 100px;
    background: red!important;
}
.div1{
    background: blue;
    width: 200px;
    height: 200px;
}
#outer{
    width: 400px;
    height: 400px;
    background: greenyellow;
}